{
  "username": "Beekeeper",
  "avatar_url": "https://cdn.discordapp.com/avatars/738571182101626930/72ad643b1ee4036cd79f8c457ed1d420.png",
  "content": "",
  "components": [
      {
          "type": 1,
          "components": [
              {
                  "type": 2,
                  "label": "Download",
                  "style": 5,
                  "url": "https://modrinth.com/mod/highlight/version/${link}"
              }
          ]

      }
  ],
  "embeds": [
    {
      "title": "Highlight",
      "color": 1727425,
      "description": "A new update is available!",
      "timestamp": "",
      "author": {
        "name": "Team Resourceful",
        "url": "https://teamresourceful.com"
      },
      "image": {
        "url": ""
      },
      "thumbnail": {
        "url": "https://www.bisecthosting.com/images/CF/Highlight/BH_H_Logo.png"
      },
      "footer": {
        "text": "Support us on Patreon or by using code TEAMRESOURCEFUL to get a discounted server from Bisect Hosting"
      },
      "fields": [
        {
          "name": "Mod Version",
          "value": "${version}"
        },
        {
          "name": "Minecraft Version",
          "value": "${minecraft}"
        }
      ]
    }
  ]
}